---
layout: default
title: Get music for your project with the help of a global network of musicians
---

<section id="content">
	<div class="wrap">
		<div class="primary">
			<ul class="posts">
				{% for post in paginator.posts %}
					<li>
						<a class="title" href="{{ post.url }}">{{ post.title }}</a>
						{{ post.content | strip_newlines | split:'<!--excerpt-->' | first }}
						... <a href="{{ post.url }}">read more &rarr;</a>
						<p>
							<img src="/images/who/{{ post.who }}.png" height="24">
							{% if post.who == 'vince' %}
								Vince Lynch
							{% elsif post.who == 'john' %}
								John Martin
							{% elsif post.who == 'ben' %}
								Ben Perreau
							{% endif %}
							<span>
								&middot;
								{{ post.date | date_to_string }}
							</span>
						</p>
					</li>
				{% endfor %}
			</ul>
			{% if paginator.total_pages > 1 %}
				<p class="pagination">
					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous page</a>
					{% else %}
						<span>Previous page</span>
					{% endif %}
					&middot;
					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page</a>
					{% else %}
						<span>Next page</span>
					{% endif %}
				</p>
			{% endif %}
		</div>
		<div class="secondary">
			{% include helper.ext %}
			<hr>
			{% include facepile.ext %}
		</div>
	</div>
</section>
