<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} &middot; Synkio Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/styles/master.css">
	<!--[if lt IE 9]><script src="http://media.synk.io/vendor/html5shiv.js"></script><![endif]-->
	<script src="//use.typekit.net/ayl8hmu.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.title }}">
	{% if page.meta_description %}
		<meta property="og:description" content="{{ page.meta_description }}">
	{% endif %}
	{% if page.meta_image %}
		<meta property="og:image" content="{{ page.meta_image }}">
	{% endif %}
</head>
<body>

<header>
	<div class="wrap">
		{% if page.id == 'post' %}
			<a href="http://synk.io/?utm_source=blog&amp;utm_medium=cm&amp;utm_campaign=synkio" class="main">Visit synk.io &rarr;</a>
		{% endif %}
		<a href="/" class="logo">
			<span>Synkio</span>
			<strong>blog</strong>
		</a>
	</div>
</header>

{{ content }}

<footer>
	<div class="wrap">
		&copy; Synkio
		&middot; <a href="mailto:support@synk.io">Contact us</a>
	</div>
</footer>

{% include externals.ext %}
{% include analytics.ext %}

</body>
</html>
