<!DOCTYPE html>
<html>
<head>
	<title>Synkio Blog</title>
	<link rel="stylesheet" href="/styles/master.css">
	<link rel="icon" type="image/png" href="/favicon.png">
	<script src="//use.typekit.net/ayl8hmu.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<header>
	<div class="wrap">
		<span class="logo">
			<span>synkio</span>
			<strong>blog</strong>
		</span>
	</div>
</header>

<section id="content">
	<div class="wrap">
		<div class="primary">
			{{ content }}
		</div>
		<div class="secondary">
			<h3>What's synkio?</h3>
			<p>synkio is a global network of producers, composers and artists who are ready to make music for you now</p>
			<p><a href="http://synk.io" class="faded">Find out more &rarr;</a></p>
		</div>
	</div>
</section>

</body>
</html>