---
layout: default
id: post
---

{% if page.who == 'vince' %}
	{% assign poster_name = 'Vince Lynch' %}
	{% assign poster_twitter = 'hypernyms' %}
{% elsif page.who == 'ben' %}
	{% assign poster_name = 'Ben Perreau' %}
	{% assign poster_twitter = 'perreau' %}
{% elsif page.who == 'john' %}
	{% assign poster_name = 'John Martin' %}
	{% assign poster_twitter = 'johnmartin' %}
{% endif %}

<section id="post-header" class="style-{{ page.style }}">
	<div class="wrap">
		<h1>{{ page.title }}</h1>
		<p class="date">{{ page.date | date_to_string }}</p>
	</div>
</section>

<section id="content">
	<div class="wrap">
		<div class="primary">
			{{ content }}
			{% if page.allow_comments == "true" %}
				<div class="comments">
					<div id="disqus_thread"></div>
					<script>
						var disqus_shortname = 'synkioblog';
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
			{% endif %}

			<div class="helper">
				{% include helper.ext %}
			</div>

		</div>
		<div class="secondary author">

			<img src="/images/who/{{ page.who }}.png" width="120">
			<h3>{{ poster_name }}</h3>
			<a href="http://twitter.com/{{ poster_twitter }}" target="_blank">@{{ poster_twitter }}</a>
			{% if page.bio %}
				<p>{{ page.bio }}</p>
			{% endif %}
			<hr>

			<h4>Share this post</h4>
			<div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="Synkio">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			<div>
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fblog.synk.io{{ page.url | cgi_escape }}&amp;send=false&amp;layout=button_count&amp;width=180&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:21px;" allowTransparency="true"></iframe>
			</div>
			<hr>

			<h4>Synkio on the web</h4>
			<div>
				{% include facepile.ext %}
			</div>

		</div>
	</div>
</section>
