---
layout: default
id: post
---

{% if page.who == 'vince' %}
	{% assign poster_name = 'Vince Lynch' %}
	{% assign poster_twitter = 'hypernyms' %}
{% elsif page.who == 'ben' %}
	{% assign poster_name = 'Ben Perreau' %}
	{% assign poster_twitter = 'perreau' %}
{% elsif page.who == 'john' %}
	{% assign poster_name = 'John Martin' %}
	{% assign poster_twitter = 'johnmartin' %}
{% elsif page.who == 'james' %}
	{% assign poster_name = 'James Jackson' %}
{% endif %}

<section id="post-header" class="style-{{ page.style }}">
	<div class="wrap">
		<h1>{{ page.title }}</h1>
		<p class="date">{{ page.date | date_to_string }}</p>
	</div>
</section>

<section id="content">
	<div class="wrap">
		<div class="primary">
			{{ content }}
			{% if page.allow_comments == "true" %}
				<div class="comments">
					<div id="disqus_thread"></div>
					<script>
						var disqus_shortname = 'synkioblog';
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
			{% endif %}

		</div>
		<div class="secondary author">

			<img src="/images/who/{{ page.who }}.png" width="120">
			<h3>{{ poster_name }}</h3>
			{% if poster_twitter %}
				<a href="http://twitter.com/{{ poster_twitter }}" target="_blank">@{{ poster_twitter }}</a>
			{% endif %}
			{% if page.bio %}
				<p>{{ page.bio }}</p>
			{% endif %}
			<hr>

			<h4>Share this post</h4>
			{% include share.ext %}

		</div>
	</div>
</section>

<section>
	<div class="wrap">
		<div class="primary">
			<div class="helper">
				{% include helper.ext %}
			</div>
			{% include social.ext %}
		</div>
	</div>
</section>
