<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} &middot; Synkio Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/styles/master.css">
	<link rel="icon" type="image/png" href="/favicon.png">
	<script src="//use.typekit.net/ayl8hmu.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<header>
	<div class="wrap">
		<a href="http://synk.io" class="main">Visit synk.io &rarr;</a>
		<a href="/" class="logo">
			<span>synkio</span>
			<strong>blog</strong>
		</a>
	</div>
</header>

<section id="content">
	<div class="wrap">
		<div class="primary">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
		<div class="secondary author">
			<img src="/images/who/{{ page.who }}.png" width="120">
			<h3>{{ page.author }}</h3>
			<p>{{ page.bio }}</p>
			<p>Posted: <strong>{{ page.date | date_to_string }}</strong></p>
		</div>
	</div>
	<div class="wrap">
		<p class="clearfix"><a href="/" class="faded">&larr; Read more posts</a></p>
	</div>
</section>

</body>
</html>